@font-face {
    font-family: futura-light;
    src: url('../fonts/FTN35.otf');
}

@font-face {
    font-family: futura-medium;
    src: url('../fonts/FTN55.otf');
}

@font-face {
    font-family: futura-heavy;
    src: url('../fonts/FTN75.otf');
}

.login-container {
    padding: 100px 30px;
}

.login-container.complete-fan-profile {
    padding: 100px 0px;
}

.login-container.confirmation-email {
    padding: 100px 0;
}

.login-container.sign-up {
    padding: 200px 30px;
}

.subscription-wrapper .clm .price-info {
    background: #fff;
}

.subscription-wrapper .clm.pro .price-info {
    background: #fff;
}

.subscription-wrapper .clm .price-info .limit {
    text-align: center;
    text-transform: lowercase;
}

.subscription-wrapper .clm ul li.blur {
    text-decoration: line-through;
}

.setting-account .wrapper .btn-default {
    border-radius: 5px;
}

.backend-pages #drag-and-drop-zone img {
    width: 100px;
}

.video-play-container .video-thumbnail .video-info h4 {
    text-transform: uppercase;
}

.video-play-container .video-thumbnail .video-info p a:hover {
    color: #f0ec45;
}

.video-play-container .video-thumbnail .video-thumbnail {
    width: 140px;
}

header .right-bar img {
    width: 30px;
}

header .right-bar .notification {
    margin-right: 30px;
}

aside .panel:first-child .panel-heading {
    margin-top: 0;
}

aside .panel:first-child .panel-title > a {
    padding: 20px 10px
}

.content-container {
    background: #000;
}

header {
    background: #000;
}

.body-container main {
    background: #000;
}

aside {
    background: #000;
    border: none;
}

aside .playlist-list {
    background: #000;
}
aside .panel-heading{
    border: none;
}
aside .playlist-list li a{
    font-family: "futura-light"!important;
    color: #fff;
}
aside .friend-list li a{
    font-family: "futura-light"!important;
}

aside .pignose-calendar .pignose-calendar-top-date {
    background: none;
}
.video-play-container .video-play-section .video-info,
.video-play-container .recommended-list,
.video-play-container .recommended-list h3,
.video-play-container .recommended-list .video-list li {
    background: none;
}
.video-play-container .video-play-section .video-info button{
    width: 75%
}
.video-play-container .recommended-list .video-list li{
    display: block
}
.video-play-container .recommended-list .video-list li .info h5{
    margin-bottom: 0;
}
.video-play-container .video-play-section .video-info h5{
    text-align: center;
}
.video-play-container .video-play-section .video-info .custom-value{
    background: none;
}
.video-play-container .video-play-section .video-info .custom-value .fld{
    background: #2e2c25;
    height: 100%;
}
.video-play-container .recommended-list .video-list li .img-holder{
    flex: 0 0 100%;
}
.video-play-container .video-thumbnail .video-info .views{
    color: #898989;
    font-size: 14px;
}
footer {
    background: #000;
    font-size: 22px;
}

.setting-account .wrapper .btn-default:hover {
    background: #2a2c2d;
}

.upload-video-btn .btn-full {
    border-radius: 5px;
}

.edit-profile .btn-full {
    border-radius: 5px;
}

.homepage h2 {
    font-family: futura-heavy;
}

.homepage .artist,
.homepage .views {
    font-family: futura-light;
}

.backend-pages .dashboard-menu ul li {
    flex: 0 0 calc(100% / 8);
}

.banner .info .play-btn {
    width: 200px;
}

.banner-wrapper .owl-carousel {
    text-align: center;
}

.banner-wrapper .owl-dots {
    display: inline-block;
}

.banner-wrapper .owl-dots button {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: inline-block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.banner-wrapper .owl-dots button.active {
    background: #fff;
}

.content-container .videos-wrapper .video-thumbnail .info h4 {
    text-transform: uppercase;
}

.content-container .videos-wrapper .video-thumbnail .info{

}
.video-play-container .recommended-videos .share-icons button .icon-holder{
    width: 30px;
}
.video-play-container .recommended-videos .share-icons button{
    font-size: 18px;
    margin-right: 40px;
}
.video-play-container .video-play-section .video-info h2:after{
    display: none;
}
.about-text{
    background: none;
}
body{
    color: #fff;
}
.contact-wrapper .dark-bg{
    background: none;
}
.contact-wrapper .contact-form .input-group{
    background: none;
    border: none;
    border-bottom: #3a3d3f solid 1px!important;
}
.contact-wrapper .contact-form textarea{
    background: none;
    border: none;
    border-bottom: 1px solid #3a3d3f;
}
.faq-wrapper .faq-thumbnail{
    background: none;
}
.faq-wrapper .faq-info-row .sidebar-links li a{
    background: none;
}
.mediakit-wrapper .collections-media{
    background: none;
}
.mediakit-wrapper .our-press h3{
    background: none;
}
.mediakit-wrapper .our-press .press-bg{
    background: none;
}
.mediakit-wrapper .our-press .press-row{
    background: none;
    border: none;
}
.mediakit-wrapper button{

}
.mediakit-wrapper .our-press .press-row .download-btn{
    background: #f0ec45;
    color: #000;
}
.content-container .videos-wrapper .video-thumbnail .info .artist{
    margin-bottom: 2px;
}
.content-container .videos-wrapper .video-thumbnail .info .views{
    justify-content: space-between;
    flex-wrap: wrap;
}
.recently-watched p{
    color: #fff!important;
}
.playlist-wrapper .recently-watched-wrapper .recently-watched .video-info h3 a:hover{
    color: #f0ec45;
}
.btn-default.yellow-btn:hover{
    background: #0093d0;
    color: #f0ec45;
}
.login-form button:hover{
    background: #FFA472 !important;
    color: #3f3f3f !important;
}
.dashboard-wrapper .bio{
    background: none;
}
.dashboard-wrapper .bg-color{
    background: none;
}
.dashboard-wrapper .total-tip .my-videos{
    background: none;
    border: none;
}
.dashboard-wrapper .shows-wrapper .shows-item .item-info{
    background: none;
}
.dashboard-wrapper .bio p{
    color: #fff!important;
}
.dashboard-wrapper .total-tip .my-videos .info h4{
    color: #fff;
}
.dashboard-wrapper .total-tip .my-videos .info .icons-wrapper > div span{
    color: #fff;
}
.dashboard-wrapper .shows-wrapper .shows-item .item-info p span{
    color: #fff;
}
.pignose-calendar .pignose-calendar-unit a{
    color: #fff;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a{
    color: #fff;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a, .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sun a, .pignose-calendar .pignose-calendar-unit a{
    color: #fff;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year{
    display: block;
    color: #fff;
}
.pignose-calendar .pignose-calendar-top{
    padding: 2.6em 0;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month{
    font-size: 100%
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year{
    font-size: 90%;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon{
    color: #fff;
}
aside .genres-list li span{
    font-family: "futura-light";
    color: #fff;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    background: none;
    padding-left: 10px;
    font-weight: 600;
    font-size: 14px;
    position: relative;
}
.contact-wrapper .light-bg{
    background: none;
}
.contact-wrapper .social-links li{
    border: none;
    margin-right: 0;
}
.contact-wrapper .social-links li:hover{
    background: none;
}
.contact-wrapper .social-links li a{
    width: 32px;
    height: 32px;
}
.contact-form ::placeholder{
    color: #fff;
}
.contact-wrapper .contact-form .submit-btn:hover{
    /* background: #0093d0;
    color: #f0ec45; */
    background: #FFA472;
    color: #3f3f3f;
}

.contact-wrapper .phone .heading{
    color: #fff;
}
main.full-width{
    width: 100%
}
/* aside.hide{
    display: none;
} */
