.logn-area {
    padding: 40px 20px;
}
.logn-area .form-group{
    width: 300px;
    margin: 20px auto;
}
.form-control{
    border-color: #000;
}
.logn-area .btn {
    padding: 12px 0;
    border: 1px solid;
    cursor: pointer;
    width: 200px;
    font-size: 12px;
}
.signup-area .btn {
    padding: 10px 0;
    border: 1px solid;
    cursor: pointer;
    width: 135px;
    font-size: 14px;
}
.logn-area .btn i {
    padding: 0px 12px;
    font-size: 15px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.alt-form:after, .alt-form:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 1px;
    margin: 0 4px;
    vertical-align: middle;
    background: #000;
}
.user_type_content{
    padding: 20px 0;
    font-size: 20px;
}
.user_type_content h5{
    font-weight: 400;
}
.border-sign{
    border-right: 1px solid #848484;
}
label.rember-me {
    position: absolute;
    padding: 0px 0px 0px 9px;
    font-size: 17px;
}
.signup-area{
    padding: 150px 0 30px;
}
.signup-area .title, .signup-area .offset-bottom{
    padding:0 0 20px;
}
.logn-area .title{
    padding-bottom: 20px;
}
@media screen and (max-width: 778px) {
    .signup-area {
        padding: 50px 0;
    }
    .border-sign{
        border-right: none;
        border-bottom: 1px solid #848484;
    }
}
